body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.feature-section {
    display: none; /* 기본적으로 섹션을 숨깁니다 */
}

/* 활성화된 섹션을 보여주는 스타일 */
.active {
    display: block;
}
